/*
COLORS:

Light blue: #008A9F
Medium blue: #0069AC
Dark blue: #004FC2

*/

/* **** Main Settings **** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 20px;
}

/* **** Header **** */
.header {
  background-image: linear-gradient(to right bottom, #008a9fa6, #006aaca6),
    url(../img/city-header.jpg);
  height: 95vh;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  position: relative;
}

/* **** Logo **** */
.logo-box {
  position: absolute;
  top: 20px;
  left: 30px;
}
.logo {
  height: 40px;
}

/* **** Headings **** */
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
  /* backface-visibility: hidden; */
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 20px;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  /* animation-iteration-count: 2; */
}
.heading-primary-sub {
  display: block;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;

  animation: moveInRight 1s ease-out;
}

/* **** Animations **** */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px) ;
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* **** Buttons **** */
.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 35px;
  display: inline-block;
  border-radius: 80px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 10px rgba(0,0,0,.5);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .3s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom .5s ease-out .65s;
  animation-fill-mode: backwards;
}
/* **** Header **** */
/* **** Header **** */
/* **** Header **** */
